<!DOCTYPE html>
<html>
<head>
	<title>User Account</title>
	<% include includes/bootstrapHeader.ejs %>
	<style type="text/css">
		<% include main.css %>
	</style>
</head>
<body>
	<div id="main_div" class="container">
		<% include includes/header.ejs %>

		<label>First Name:</label>
		<p><%= user.fname %></p> <br>
		<label>Middle Name:</label>
		<p><%= user.mname %></p> <br>
		<label>Last Name:</label>
		<p><%= user.lname %></p> <br>
		<label>Phone Number:</label>
		<p><%= user.phone_number %></p> <br>
		<label>Account Creation Date:</label>
		<p><%= user.creation_date %></p>

		<% include includes/footer.ejs %>
		<% include includes/bootstrapFooter.ejs %>
	</div>
</body>
</html>