<!DOCTYPE html>
<html>
<head>
	<title>User Account</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<% include includes/bootstrapHeader.ejs %>
</head>
<body>
	<div id="main_div">
		<% include includes/header.ejs %>

		<label>First Name:</label>
		<p><%= fname %></p> <br>
		<label>Middle Name:</label>
		<p><%= mname %></p> <br>
		<label>Last Name:</label>
		<p><%= lname %></p> <br>
		<label>Phone Number:</label>
		<p><%= phone_number %></p> <br>
		<label>Account Creation Date:</label>
		<p><%= creation_date %></p>

		<% include includes/footer.ejs %>
		<% include includes/bootstrapFooter.ejs %>
	</div>
</body>
</html>